<% if (rows) { %>
    <table>
        <thead>
            <tr>
                <th>id</th><th>login</th>
            </tr>
        </thead>
        <tbody>
            <% for (let row in rows) { %>
                <tr>
                    <!--<%- print(row) %>-->
                    <!--<%- print(row.id) %>-->
                    <td><%- print(row.id) %></td>
                    <td><%= print(row.login) %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
<pre><%- print(rows) %></pre>
<% } else { %>
    <pre><%- console.log(rows) %></pre>
    <p> Aucun restaurateurs inscrits.</p>
<% } %>
<a href="/admin/signin">Retour</a>
