<!--<% if (rows || true) { %>-->
    <table>
        <thead>
            <tr>
                <th>id</th><th>login</th>
            </tr>
        </thead>
        <tbody>
            <% for (let row in rows) { %>
                <tr>
                    <!--<%- print(row) %></pre>-->
                    <!--<%- print(row.id) %></pre>-->
                    <td><%- row.id %></td>
                    <td><%= row.login %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
<pre><%- print(rows) %></pre>
<!--<% } else { %>
    <pre><%- console.log(rows) %></pre>
    <p> Aucun restaurateurs inscrits.</p>
<% } %>-->
<a href="/admin/signin">Retour</a>
